[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DTwrappers"]
	path = DTwrappers
	url = https://github.com/cran/DTwrappers
[submodule "getDTeval"]
	path = getDTeval
	url = https://github.com/cran/getDTeval
